* {
  margin: 0;
}

.btn-primary {
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: #111;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  max-height: 40px;
  outline: none;
}

.btn-secondary {
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  overflow: hidden;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  border-radius: 2px;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  max-height: 40px;
  outline: none;
}
